.forgot-password-container {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }
  
  .forgot-password-container h1 {
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .forgot-password-form {
    display: flex;
    flex-direction: column;
  }
  
  .forgot-password-container  .form-group {
    margin-bottom: 15px;
  }
  
  .forgot-password-container  .form-group label {
    font-size: 14px;
    margin-bottom: 5px;
  }
  
  .forgot-password-container  .form-group input {
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .forgot-password-container  .send-reset-link-btn {
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .forgot-password-container  .send-reset-link-btn:hover {
    background-color: #0056b3;
  }
  
  .forgot-password-container  .error {
    color: red;
    text-align: center;
  }
  
  .forgot-password-container  .message {
    color: green;
    text-align: center;
  }
  .mobile-input-container span{
    padding-right: 5px;
  }
  