.scrolling-box-horizontal {
  width: 100vw; /* Full width of the container */
  height: auto; /* Adjusted height based on content */
  background-color: #d9d9d9; /* Black background */
  overflow-x: auto; /* Horizontal scrolling */
  position: relative;
  white-space: nowrap; /* Prevents text wrapping */
  display: flex;
  align-items: center; /* Center the content vertically */
  color: black;
  font-family: 'Poppins', sans-serif;
  font-size: 1.5vh;
  font-weight: 700;
  margin: 0 auto;
  padding: 1vh 0; /* Added padding for a bit of space */
  text-align: right; /* Align text to the right */
  justify-content: flex-end; /* Align items to the right */
}

.contact-item-horizontal {
  padding: 0 20px;
  display: inline-block;
  font-size: 2.5vh;
  font-weight: 400;
  height: auto;
  white-space: nowrap; /* Prevents text wrapping */
  text-align: right; /* Ensure text inside items aligns right */
  margin-left: 1vw; /* Adds space between items */
  transition: transform 0.3s ease; /* Smooth transition for hover effect */
}

/* Hover effect for contact items */
.contact-item-horizontal:hover {
  transform: scale(1.05); /* Slight zoom effect on hover */
}

.close-icon{
  margin-right: 2vh;
}

@media screen and (max-width: 480px) {
  .scrolling-box-horizontal {
    font-size: 1.5vh; /* Adjust font size for smaller screens */
    padding-top: 2vh;
    text-align: center; /* Align text to the right */
    justify-content: center; /* Align items to the right */
    background-color: darkblue;
    color: white;
    font-weight: 400;
  }

  .contact-item-horizontal {
    font-size: 1.5vh; /* Adjust font size for smaller screens */
    padding: 1vh 1vh; /* Adjust padding for better spacing */
    margin-left: 1vw; /* Adjust spacing between items */
  }

  .close-icon{
    margin-right: 0px;
    color: white;
  }
}
