.wishlist-items{
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(3, 1fr); /* 3 columns with equal width */
    gap: 5vw;
    margin: 5vh 10vh;
}

@media screen and (max-width:480px) {  
    .wishlist-items{
        display: grid;
        justify-content: center;
        align-items: center;
        grid-template-columns: repeat(2, 1fr); /* 3 columns with equal width */
        gap: 5vw;
        margin-top: 5vh;
    }    
}